---
import Link from "../components/Link.astro"
---

<footer class="page-footer">
    <small>Designed with 
        <Link href="https://astro.build/">Astro</Link>,
        <Link href="https://tailwindcss.com/">Tailwind</Link>,
        and
        <Link href="https://daisyui.com/">DaisyUI</Link>.
    </small>
    <br>
    <small>
        Copyright &copy; <span
        id="copyright"></span> | All rights reserved
    </small>
</footer>

<script>
    document.querySelector("#copyright").textContent = new Date().getFullYear().toString();
</script>

<style>
.page-footer {
  background-color: #131b20;
  color: white;
  padding: 20px;
}
</style>