---
// Variables
const {href} = Astro.props;
var props = href 

const isInternal =
  typeof href === "string" &&
  href.startsWith("/") &&
  !href.startsWith("//");
  
  const finalHref = isInternal
  ? `${import.meta.env.BASE_URL}${href.replace(/^\//, "")}`
  : href;
// Logs
// console.log("href props:", props)
---

<a href={href} class="hover:underline">
  <slot/>
</a>
